<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    {% block css %}


    {% endblock css %}
</head>
<body style="font-family: Arial, sans-serif
        background: linear-gradient(to bottom right, #4CAF50, #2196F3) 
        margin: 0
        display: grid
        place-content: center
        height: 100vh">
    {% block content %}
    
    {% endblock content %}
</body>
</html>